@import url();
:root{
    --main-color: #ffc012;
    --text-color: #ffffff;
    --bg-color: rgb(0, 0, 0);
}
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;
}
img{
    width: 1032px;
}
body{
    color: var(--text-color);
}
.container{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  transition: .3s linear
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}
header.shadow #search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover,
.navbar .active{
    color: var auq;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.home{
    max-width: 100%;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items:center;
    background: url(/rss/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-text{
    padding-inline: 130px;
}
.home-text h1{
    font-size: 2rem;
}
.home-text span{
    color: var(--main-color);
}
.home-text p{
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.home-text{
    padding-left: 130px;
}
.home-text h1{
    font-size: 2.4rem;
}
.home-text span{
    color: var(--main-color);
}
.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400; 
}
.btn:hover{
    background: #fd052f;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}
.home2{
    font-family: 'Courier New', Courier, monospace;
    text-emphasis-color: var(--main-color);
}